body{
    font-family: "Times New Roman";
    color: brown;
    font-size: 130%;
}

a{
    color: #003A90;
    text-decoration: underline;
    font-size: 120%;
}

table{
    border-radius: 2%;
    border-width: 4px;
    border-color: teal;
}

thead, .ranges, tr{
    background-color: antiquewhite;
}

.ranges{
    color: darkblue;
}

span{
    color: green;
    font-family: Aldhabi;
    font-size: 200%;
}

legend{
    color: teal;
    font-family: Verdana;
}

fieldset{
    border-color: violet;
    background-color: white;
}

.parameters{
    background-color:white;
}