body{
    font-family: "Times New Roman";
    font-size: 90%;
    color: #003A90;
}

table{
    border-collapse: collapse;
    border-color: darkred;
    border-width: 3px;
    background-color: azure;
    width: 41%;
}

#prev{
    position: absolute;
    left: 10%;
    background-color: coral;
    border-radius: 30%;
}

#next {
    position: absolute;
    left: 25%;
    background-color: coral;
    border-radius: 30%;
    bottom: 58.5%;
}

#foot{
    text-align: center;
    text-decoration: underline;
    color: crimson;
    background-color: bisque;
}

th{
    background-color: bisque;
}

.poor{
    background-color: red;
}

.fair{
    background-color: tomato;
}

.good{
    background-color: yellowgreen;
}

.very-dood{
    background-color: greenyellow;
}

.total{
    background-color: burlywood;
}

.order{
    background-color: transparent;

}

tr,th, .order{
    border-width: 2px;
}

.poor, .fair, .good, .very-dood,.name, .name, .last-name, .number{
    border-width: 2px;
    border-color: #3A90DB;
}