body{
    font-family: SansSerif;
    font-size: 86%;
}

table{
    width: 40%;
    border-collapse: collapse;
    color: darkmagenta;
    border: groove;
    border-color: #003A90;
}

#submit, #reset{
    border-radius: 50%;
    background-color: burlywood;
}

#submit{
    position: relative;
    left: 17%;
}

#reset{
    border-bottom-width: 3px;
    border-bottom-right-radius: 3px;
    position: absolute;
    left: 25%;
}

.foot{
    background-color: cadetblue;
}

#city{
    width: 40%;
}

.cityT{
    font-size: 12px;
}

#state{
    width: 20%;
}

#zpc{
    width: 18%;
}

select{
    font-size: 90%;
    color: teal;
}

#country-code{
    width: 18%;
}

#area-code{
    width: 25%;
}

#number{
    width: 30%;
}