/*I had so time experience on this problem.Please be compromise!*/
body {
    font-family: Consolas, 'Lucida Console', 'DejaVu Sans Mono', monospace;
    font-size: 16px;
    padding: 0;
    margin: 0;
}

#base {
    width: 458px;
    height: 447px;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#e5f5ff+0,e5f7ff+3,e1f3fe+3,d3e7fb+3,d0e5fa+4,d0e6fc+6,cee4fb+6,e0f1fe+6,e2f3ff+7,e3f3ff+16,fafeff+29,fafdff+29,f4fbff+29,d7ecfe+29,d3eafe+30,cbe4fd+35,cce5fd+36,c9e2fc+37,c6e1fb+41,c6e0fb+45,d0e9ff+52,d1eaff+56,d1eaff+89,cfe8ff+91,c3dcf7+95,c3dcf5+99,c0daf4+99,aecdea+99,abcae9+99,a9c8ea+100,accaeb+100 */
    background: #e5f5ff; /* Old browsers */
    background: -moz-linear-gradient(top, #e5f5ff 0%, #e5f7ff 3%, #e1f3fe 3%, #d3e7fb 3%, #d0e5fa 4%, #d0e6fc 6%, #cee4fb 6%, #e0f1fe 6%, #e2f3ff 7%, #e3f3ff 16%, #fafeff 29%, #fafdff 29%, #f4fbff 29%, #d7ecfe 29%, #d3eafe 30%, #cbe4fd 35%, #cce5fd 36%, #c9e2fc 37%, #c6e1fb 41%, #c6e0fb 45%, #d0e9ff 52%, #d1eaff 56%, #d1eaff 89%, #cfe8ff 91%, #c3dcf7 95%, #c3dcf5 99%, #c0daf4 99%, #aecdea 99%, #abcae9 99%, #a9c8ea 100%, #accaeb 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #e5f5ff 0%, #e5f7ff 3%, #e1f3fe 3%, #d3e7fb 3%, #d0e5fa 4%, #d0e6fc 6%, #cee4fb 6%, #e0f1fe 6%, #e2f3ff 7%, #e3f3ff 16%, #fafeff 29%, #fafdff 29%, #f4fbff 29%, #d7ecfe 29%, #d3eafe 30%, #cbe4fd 35%, #cce5fd 36%, #c9e2fc 37%, #c6e1fb 41%, #c6e0fb 45%, #d0e9ff 52%, #d1eaff 56%, #d1eaff 89%, #cfe8ff 91%, #c3dcf7 95%, #c3dcf5 99%, #c0daf4 99%, #aecdea 99%, #abcae9 99%, #a9c8ea 100%, #accaeb 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #e5f5ff 0%, #e5f7ff 3%, #e1f3fe 3%, #d3e7fb 3%, #d0e5fa 4%, #d0e6fc 6%, #cee4fb 6%, #e0f1fe 6%, #e2f3ff 7%, #e3f3ff 16%, #fafeff 29%, #fafdff 29%, #f4fbff 29%, #d7ecfe 29%, #d3eafe 30%, #cbe4fd 35%, #cce5fd 36%, #c9e2fc 37%, #c6e1fb 41%, #c6e0fb 45%, #d0e9ff 52%, #d1eaff 56%, #d1eaff 89%, #cfe8ff 91%, #c3dcf7 95%, #c3dcf5 99%, #c0daf4 99%, #aecdea 99%, #abcae9 99%, #a9c8ea 100%, #accaeb 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e5f5ff', endColorstr='#accaeb', GradientType=0); /* IE6-9 */
    margin: 2px;
}

.win-item {
    position: absolute;
    left: 400px;
}

#nav{
    font-family: Consolas sans-serif;
}

#name {
    font-size: 19px;
    font-family: Consolas sans-serif;
    position: absolute;
    left: 50px;
}

#base-two {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#8d98a4+0,a4abb3+0,eaebed+0,ffffff+1,f6f8fc+1,e7ebf6+2,d4dbed+2,d8deef+3,e2e7f7+5,dae0f0+5,c2c7d4+5,d7d9df+6,f1f3f4+6,eef4fa+6,edf4fc+6,d8e3f1+28,d8e3f0+100 */
    background: #8d98a4; /* Old browsers */
    background: -moz-linear-gradient(top, #8d98a4 0%, #a4abb3 0%, #eaebed 0%, #ffffff 1%, #f6f8fc 1%, #e7ebf6 2%, #d4dbed 2%, #d8deef 3%, #e2e7f7 5%, #dae0f0 5%, #c2c7d4 5%, #d7d9df 6%, #f1f3f4 6%, #eef4fa 6%, #edf4fc 6%, #d8e3f1 28%, #d8e3f0 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #8d98a4 0%, #a4abb3 0%, #eaebed 0%, #ffffff 1%, #f6f8fc 1%, #e7ebf6 2%, #d4dbed 2%, #d8deef 3%, #e2e7f7 5%, #dae0f0 5%, #c2c7d4 5%, #d7d9df 6%, #f1f3f4 6%, #eef4fa 6%, #edf4fc 6%, #d8e3f1 28%, #d8e3f0 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #8d98a4 0%, #a4abb3 0%, #eaebed 0%, #ffffff 1%, #f6f8fc 1%, #e7ebf6 2%, #d4dbed 2%, #d8deef 3%, #e2e7f7 5%, #dae0f0 5%, #c2c7d4 5%, #d7d9df 6%, #f1f3f4 6%, #eef4fa 6%, #edf4fc 6%, #d8e3f1 28%, #d8e3f0 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#8d98a4', endColorstr='#d8e3f0', GradientType=0); /* IE6-9 */
    height: 400px;
    width: 440px;
}

#unnn:first-letter {
    text-decoration: underline;
}

#unn:first-letter {
    text-decoration: underline;
}

#un:first-letter {
    text-decoration: underline;
}

#un, #unn, #unnn {
    display: inline-block;
    font-weight: bold;
}

span input {
    height: 25px;
    width: 30px;
}

input[type="text"] {
    width: 407px;
    height: 50px;
    text-align: right;
    font-size: 20px;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#dce0e5+0,f4f7fc+1,e6effb+4,e4eefa+5,e4eef9+15,ebf3fc+41,f0f4fc+46,fafcfe+73,ffffff+98,ebedf0+99,c7ced6+100 */
    background: #dce0e5; /* Old browsers */
    background: -moz-linear-gradient(top, #dce0e5 0%, #f4f7fc 1%, #e6effb 4%, #e4eefa 5%, #e4eef9 15%, #ebf3fc 41%, #f0f4fc 46%, #fafcfe 73%, #ffffff 98%, #ebedf0 99%, #c7ced6 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #dce0e5 0%, #f4f7fc 1%, #e6effb 4%, #e4eefa 5%, #e4eef9 15%, #ebf3fc 41%, #f0f4fc 46%, #fafcfe 73%, #ffffff 98%, #ebedf0 99%, #c7ced6 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #dce0e5 0%, #f4f7fc 1%, #e6effb 4%, #e4eefa 5%, #e4eef9 15%, #ebf3fc 41%, #f0f4fc 46%, #fafcfe 73%, #ffffff 98%, #ebedf0 99%, #c7ced6 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#dce0e5', endColorstr='#c7ced6', GradientType=0); /* IE6-9 */
}

#numeral-representation {
    word-spacing: 9px;
}

#c {
    position: absolute;
    top: 190px;
    left: 223px;
}

#cc {
    position: absolute;
    left: 223px;
}

.first-digits, .second-digits {
    color: slategrey;
}

.right {
    position: absolute;
    top: 223px;
    left: 444px;
}

#last-right {
    top: 190px;
    left: 436px;
}

#part-two {
    position: absolute;
    top: 263px;
    padding: 5px;
    padding-left: 1px;
    width: 70px;
}

#way {
    position: absolute;
    top: 360px;
    padding: 5px;
    padding-left: 1px;
    width: 70px;
}

#buttons {
    width: 60px;
    height: 170px;
    position: absolute;
    top: 264px;
    left: 121px;
}

#size-big {
    height: 58px;
}

#big {
    width: 76px;
}

button {
    width: 36px;
    height: 25px;
}

td .active {
    background-color: #D6E1EE;
}

td {
    background-color: #E5ECF5;
}

td button:active {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#fdefdf+0,fce2c6+39,fcdfb8+42,fbd48b+44,face71+47,fbd078+53,fbd982+75,fbe88b+92,fbed96+94,fefadb+100 */
    background: #fdefdf; /* Old browsers */
    background: -moz-linear-gradient(top,  #fdefdf 0%, #fce2c6 39%, #fcdfb8 42%, #fbd48b 44%, #face71 47%, #fbd078 53%, #fbd982 75%, #fbe88b 92%, #fbed96 94%, #fefadb 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  #fdefdf 0%,#fce2c6 39%,#fcdfb8 42%,#fbd48b 44%,#face71 47%,#fbd078 53%,#fbd982 75%,#fbe88b 92%,#fbed96 94%,#fefadb 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  #fdefdf 0%,#fce2c6 39%,#fcdfb8 42%,#fbd48b 44%,#face71 47%,#fbd078 53%,#fbd982 75%,#fbe88b 92%,#fbed96 94%,#fefadb 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fdefdf', endColorstr='#fefadb',GradientType=0 ); /* IE6-9 */

}

input[type=checkbox] + label {
    color: #ccc;
}

input[type=checkbox]:checked + label {
    color: #f00;
}
